
/* Inter Font from Goole Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* VARIABLES */
:root {
    --accent-color: #9162b7;
    --background-color: #fff;
    --second-background-color: #f5f0ff;
    --text-color: #2a2a31;
    --text-color-muted: grey;
    --another-color: #f9f4ff;


    /* spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 64px;
    --space-xxl: 128px;

    /* typography */
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 28px;
    --font-size-xl: 40px;
    --font-size-xxl: 55px;
}

body {
    background-color: var(--background-color);
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: var(--space-md);
}
/* LOGO AND NAVIGATION */

header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    /* glass effect */
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* glass effect */
}
header .container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

nav {
    margin-left: auto;
}

.logo {
    font-size: var(--font-size-lg);
    font-weight: 700;

}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
}

nav ul li a:link {
    color: var(--text-color);
    opacity: 0.7;
}
.active {
  color: var(--accent-color) !important;
  opacity: 1 !important;
  border-bottom: 3px solid var(--accent-color);
  padding-bottom: 3px;
  font-weight: bold;
}

/* TYPOGRAPHY */

a:link,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-sm);
}

h2 {
    font-size: var(--font-size-xl);
    color: var(--text-color);
    margin-bottom: var(--space-lg);
    font-weight: 700;
    margin-top: var(--space-xl);
}

h3 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-sm);
    font-weight: 400;
}

p {
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color-muted);
    margin-bottom: var(--space-md);

}

/* SECTIONS  */

#about {
    margin-top: var(--space-xl);
    display:flex;
    align-items: center;
    .intro {
      margin-right: var(--space-sm);
    }
}
#about h1 {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-sm);
  span {
      color: var(--accent-color);
  }
}
#about p {
  font-size: var(--font-size-lg);
  font-weight: 200;
  line-height: 1.4;
  color: var(--text-color);
  .highlight {
      color: var(--accent-color);
  }
  .location {
    font-size: var(--font-size-md);
  }
}
.profile-mobile {
  display: none;
}
.profile img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-right: var(--space-lg);
}

section {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
}

.card {
    border-left: 5px solid var(--accent-color);
    padding: var(--space-xs) var(--space-md) var(--space-xs);
    margin-bottom: var(--space-lg);
    &:hover {
        background-color: var(--second-background-color);
    }
}
.card div:first-child {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: var(--space-sm);
}

.card p {
    margin: var(--space-xs) 0;
    font-size: var(--font-size-sm);
}

/* SKILLS */

#skills p {
    line-height: 1.8;
}

/* EXPERIENCE */

#experience .job p.role {
    font-size: var(--font-size-md);
}
.school .degree {
  font-size: var(--font-size-md);
}
/* RECENT WORK */
.portfolio-card {
  display: flex;
  gap: 20px;
}
.project {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-md) var(--space-md);
    background-color: var(--second-background-color);
    border-radius: 20px;
    margin-bottom: var(--space-sm);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    &:hover {
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    }
}

.project .thumbnail {
  width: 100%;
  height: 220px;
}
.project .detail {
  h2 {
    font-size: var(--font-size-lg);
    margin: var(--space-md) 0;
  }
  div {
    margin-top: var(--space-md);
  }
  p {
    a:hover {
      background-color: var(--accent-color);
      color: var(--background-color);
    }
  }
}
.detail div {
  width: 100%;

}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.project p a {
    margin-top: var(--space-md);
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    padding: var(--space-xs) var(--space-md);
    font-size: var(--font-size-md);
}

/* CONTACT  */

#contact {
    text-align: center;
}

#contact p {
    font-size: var(--font-size-lg);
    font-weight: 200;
    line-height: 1.4;
    color: var(--text-color);
}


/* FOOTER */

footer {
    padding: 0 0 var(--space-lg);
    color: var(--text-color-muted);
    text-align: center;
}

footer .social {
    display: flex;
    gap: var(--space-lg);
    margin-bottom: var(--space-lg);
    justify-content: center;
    align-items: center;
}

footer .social a:hover svg {
    fill: var(--accent-color);
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    :root {
        /* spacing */
        --space-xs: 4px;
        --space-sm: 8px;
        --space-md: 16px;
        --space-lg: 32px;
        --space-xl: 64px;
        --space-xxl: 128px;

        /* typography */
        --font-size-xs: 14px;
        --font-size-sm: 16px;
        --font-size-md: 18px;
        --font-size-lg: 20px;
        --font-size-xl: 24px;
        --font-size-xxl: 48px;
    }

    header {
      align-items: flex-start;
    }
    header .container {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
    }
    nav ul {
      padding: 0;
      width: 100%;
      flex-wrap: wrap;
      gap: 10px;
    }
    .logo {
        font-size: var(--font-size-sm);
    }
    #about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile {
      display: none;
    }
    .profile-mobile {
      display: block;
      img {
        width: 250px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    section {
        margin-top: var(--space-xl);
        margin-bottom: var(--space-lg);
    }

    h2 {
        margin-top: var(--space-lg);
    }

    .portfolio-card {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .project {
      width: 95%;
  }
}
