
/* Inter Font from Goole Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* VARIABLES */
:root {
    --accent-color: #9162b7;
    --background-color: #fff;
    --second-background-color: #f5f0ff;
    --text-color: #2a2a31;
    --text-color-muted: #b9b9b9;
    --another-color: #f9f4ff;


    /* spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 64px;
    --space-xxl: 128px;

    /* typography */
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 40px;
    --font-size-xxl: 55px;
}

body {
    background-color: var(--background-color);
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#page {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: var(--space-md);
}

/* LOGO AND NAVIGATION */

header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    /* glass effect */
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /* glass effect */
}
header .container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

nav {
    margin-left: auto;
}

.logo {
    font-size: var(--font-size-lg);
    font-weight: 700;

}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
}

nav ul li a:link {
    color: var(--text-color);
    opacity: 0.7;
}
.active {
  color: var(--accent-color) !important;
  opacity: 1 !important;
  border-bottom: 3px solid var(--accent-color);
  padding-bottom: 3px;
  font-weight: bold;
}

/* TYPOGRAPHY */

a:link,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-sm);
}

h2 {
    font-size: var(--font-size-xl);
    color: var(--text-color);
    margin-bottom: var(--space-lg);
    font-weight: 700;
    margin-top: var(--space-xl);
}

h3 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-sm);
    font-weight: 400;
}

p {
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color-muted);
    margin-bottom: var(--space-md);

}

/* SECTIONS  */

#about {
    margin-top: var(--space-xl);
    display:flex;
    align-items: center;
}
.intro p:first-child {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--text-color);
}
.profile img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-right: var(--space-lg);
}
#about h1 {
    font-size: var(--font-size-xxl);
    margin-bottom: var(--space-sm);
    span {
        color: var(--accent-color);
    }
}

#about p {
    font-size: var(--font-size-lg);
    font-weight: 200;
    line-height: 1.4;
    color: var(--text-color);
}

section {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xxl);
}

.card {
    border-left: 5px solid var(--accent-color);
    padding: var(--space-xs) var(--space-md) var(--space-xs);
    margin-bottom: var(--space-lg);
}
.card div:first-child {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: var(--space-md);
}

.card p {
    margin: var(--space-xs) 0;
    font-size: var(--font-size-xs);
}

/* SKILLS */

#skills p {
    line-height: 1.8;
}

/* EXPERIENCE */

#experience .job p.role {
    font-size: var(--font-size-md);
}

/* RECENT WORK */

.project {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 3fr;
    column-gap: var(--space-lg);
    padding: var(--space-md) var(--space-lg);
}

.project .thumbnail {
    grid-row: span 2;
}

.project img {
    width: 100%;
    margin-top: var(--space-md);
    border-radius: 14px;
}

.project p a {
    display: block;
    margin-top: var(--space-md);
}

/* CONTACT  */

#contact {
    text-align: center;
}

#contact p {
    font-size: var(--font-size-lg);
    font-weight: 200;
    line-height: 1.4;
    color: var(--text-color);
}


/* FOOTER */

footer {
    margin-top: var(--space-xl);
    padding: 0 0 var(--space-lg);
    color: var(--text-color-muted);
    text-align: center;
}

footer .social {
    display: flex;
    gap: var(--space-lg);
    margin-bottom: var(--space-lg);
    justify-content: center;
    align-items: center;
}

footer .social a:hover svg {
    fill: var(--accent-color);
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    :root {
        --primary-color: #f9a826;
        --secondary-color: #f9a826;
        --accent-color: #47ebeb;
        --background-color: #2a2a31;
        --text-color: #fff;
        --text-color-muted: #b9b9b9;

        /* spacing */
        --space-xs: 4px;
        --space-sm: 8px;
        --space-md: 16px;
        --space-lg: 32px;
        --space-xl: 64px;
        --space-xxl: 128px;

        /* typography */
        --font-size-xs: 14px;
        --font-size-sm: 16px;
        --font-size-md: 18px;
        --font-size-lg: 20px;
        --font-size-xl: 24px;
        --font-size-xxl: 48px;
    }

    header {
        align-items: flex-start;
    }

    .logo {
        font-size: var(--font-size-xl);
    }

    nav ul {
        flex-direction: column;
        gap: 14px;
        list-style: none;
        align-items: flex-end;
    }

    section {
        margin-top: var(--space-xl);
        margin-bottom: var(--space-lg);
    }

    h2 {
        margin-top: var(--space-lg);
    }

    .project {
        grid-template-columns: 1fr;
    }
}
